.createstaff-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(98, 98, 98);
}

.createstaff-wrapper h1 {
  text-align: center;
  font-size: 24px;
  margin: 45px 0;
}

.staff-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.form-section {
  flex: 1;
  margin: 0 10px 0 10px;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
}
.form-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-item label {
  font-size: 14px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: 600;
}

.form-item input {
  padding-left: 6px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c2c2c2;
  -webkit-appearance: none;
  color: #2c2c2c;
  outline: none;
  height: 40px;
  padding: 9px 5px;
  font-size: 14px;
  vertical-align: middle;
  min-height: 35px;
  border-radius: 2px;
}

.input-wrapper textarea {
  height: auto;
  border: 1px solid #c2c2c2;
  outline: none;
  padding: 9px 5px;
  resize: none;
  font-size: 14px;
  color: #2c2c2c;
}
.create-staff-button {
  color: #fff;
  background-color: #24334a;
  border-color: #24334a;
}
.cancel-staff-button {
  background-color: #fff;
  color: #24334a;
}

.create-staff-button,
.cancel-staff-button {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  padding: 9px 15px;
  width: 100px;
  align-self: flex-end;
  margin-right: 10px;
}

.storeCloseBtn {
  appearance: none;
}

.color-area {
  display: flex;
  flex-direction: row;
}

.color-area .color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffbf69;
  cursor: pointer;
  margin-right: 10px;
}

.color-area .selected {
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.switch-wrapper {
  display: flex;
  flex-direction: row;
}

.staff-avatar-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.booking-open-btn {
  width: 10px;
}

.alert-msg {
  font-size: 12px;
  padding-left: 5px;
  color: #ff9d9d;
}

.required:after {
  color: #ff9d9d;
  content: " *";
  display: inline;
}
