.dashboard-header {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  background-color: #f4f6fe;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e5ef;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  align-items: center;
  z-index: 100;
  height: 80px;
  overflow: hidden;
}
.dashboard-header a {
  color: #1a237e;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.dashboard-header .right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-header .online-container {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  border-radius: 25px;
  padding: 5px 25px;
  box-shadow: 0 2px 10px 0px rgba(16, 25, 40, 0.2);
  align-items: center;
  margin-right: 30px;
  background-color: #f4f6fe;
}
.dashboard-header .online-container .color-sign {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}

.dashboard-header .online-container .red {
  background-color: #f33155;
}
.dashboard-header .online-container .blue {
  background-color: #4d80e4;
}

.dashboard-header .online-container .online-setup {
  font-size: 13px;
  color: #67768c;
}

.weblinkimg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media (max-width: 650px) {
  .dashboard-header .online-container {
    margin-right: 10px;
  }
  .dashboard-header .online-container {
    padding: 5px 10px;
  }
  .logo-container h1 {
    display: none;
  }
  .nav-logo {
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
  .weblinkimg {
    margin-left: 5px;
    width: 18px;
    height: 18px;
  }
  .dashboard-header .online-container,
  .dashboard-header .online-container .online-setup {
    font-size: 12px;
    line-height: 16px;
  }
  .dashboard-header .online-container .color-sign {
    width: 14px;
    height: 14px;
  }

  .home-user-avatar {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
  }

  .online-info p {
    font-size: 12px;
  }
}
