.signin-wrapper a {
  text-decoration: none;
}

.signin-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  height: 80px;
  line-height: 80px;
  width: 100%;
  align-items: center;
  color: #3a3e45;
}

.signin-header h1 {
  font-size: 26px;
  margin: 0 30px 0 10px;
  cursor: pointer;
  color: #1a237e;
}
.signin-logo {
  background-image: url(../img/logo.png);
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  margin-bottom: 10px;
}

/* signup page btn wrapper */

.signup-btn-wrapper {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signup-btn {
  font-size: 15px;
  color: #1a237e;
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;
}
.plus-img {
  width: 20px;
  height: 20px;
  background-image: url(../img//signup-img.png);
  background-size: cover;
  margin-right: 5px;
}
.left-arrow-img {
  width: 20px;
  height: 20px;
  background-image: url(../img//login-img.png);
  background-size: cover;
  margin-right: 5px;
}
.signup-btn-wrapper:hover > .plus-img {
  background-image: url(../img//signup-img-2.png);
}
.signup-btn-wrapper:hover > .left-arrow-img {
  background-image: url(../img//login-img-2.png);
}

.signup-btn-wrapper:hover > .signup-btn {
  color: #3d5afe;
}

.signin-container {
  width: 500px;
  margin: 0 auto;
  color: #555;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

.signin-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #1a237e;
}

.signin-container span {
  color: #00bfa5;
  font-weight: 500;
  cursor: pointer;
}
.signin-container .signin-input {
  display: flex;
  flex-direction: column;
}
.signin-container input {
  border: 1px solid #cbd5ff;
  margin: 25px 30px 10px 30px;
  border-radius: 10px;
  font-size: 17px;
  height: 50px;
  line-height: 40px;
  padding: 10px 0px 8px 15px;
  outline: none;
  transition: all 150ms;
}

.signin-container input:focus {
  border: 1px solid #1a237e;
}
.signin-container .signin-btn {
  margin: 20px 0 10px 0;
  outline: none;
  padding: 10px 22px;
  height: 40px;
  background: #3d5afe;
  color: #fff;
  border-radius: 10px;
  transition: all 150ms;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  align-self: center;
}

.signin-container .signin-btn:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #b5bbbb;
  background: #1a237e;
}
/* 新調整css */

.signin-down {
  display: flex;
  height: calc(100vh - 50px);
}

.signin-left {
  flex: 2;
  background-image: url(../img/signin-bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.signin-right {
  flex: 1.2;
  height: 100%;
}

.signin-text {
  font-weight: 500;
}
/* alert msg */
.sign-alert {
  color: #f03478;
  font-size: 13px;
}

.social-login {
  margin: 0 auto;
  width: 80%;
}
