.nav-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  color: #1a237e;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.nav-container a {
  text-decoration: none;
  color: #1a237e;
}

.nav-container .left-container {
  display: flex;
}

.nav-container .right-container {
  margin-right: 50px;
}

.nav-container nav {
  display: flex;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-container li {
  margin: 0 10px;
  cursor: pointer;
  line-height: 32px;
}
/* home page btn wrapper */

.nav-signup-btn {
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #3d5afe;
  color: #fff;
  padding: 10px 25px 10px 25px;
  outline: none;
}

.nav-signup-btn:hover {
  background-color: #1a237e;
}

.login-btn-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.nav-login-btn {
  color: #00bfa5;
  cursor: pointer;
  font-size: 15px;
  border: none;
  background-color: white;
  outline: none;
}
.lock-img {
  background-image: url(../img/lock.png);
  background-size: 60%;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  margin: 0 2px;
}
.exit-img {
  background-image: url(../img/exit.png);
  background-size: 60%;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  margin: 0 2px;
}
.login-btn-wrapper:hover > .nav-login-btn {
  color: #3d5afe;
}

.login-btn-wrapper:hover > .lock-img {
  background-image: url(../img/lock-2.png);
}

.login-btn-wrapper:hover > .exit-img {
  background-image: url(../img//exit-2.png);
}

/*  avatar */
.home-user-avatar {
  background-color: #1a237e;
  color: #fff;
  font-size: 24px;
  line-height: 44px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
