.user-avatar {
  background-color: rgb(165, 223, 248);
  font-size: 24px;
  line-height: 44px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
