/* Staff css */
.staff-wrapper {
  width: 100%;
}
.staff-header {
  margin-top: 10px;
  font-size: 16px;
  color: #1a237e;
}

.staff-main-wrapper {
  position: relative;
  min-height: 1px;
  padding-right: 50px;
  width: 100%;
}
.button-wrapper {
  text-align: right;
}

.button-wrapper button {
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  line-height: 20px;
  padding: 15px 20px;
  border: 1px solid #00bfa5;
  background-color: #fff;
  color: #00bfa5;
  font-weight: 600;
  outline: none;
}
.button-wrapper button:hover {
  background-color: #00bfa5;
  color: white;
}

/*Table*/
table {
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 1em !important;
  overflow: hidden;
  width: 100%;
  border: 2px solid #1a237e;
}
th,
td {
  text-align: left;
}
thead {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

table thead tr th {
  font-weight: 600;
  font-size: 17px;
  padding: 14px 0 14px 14px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(229, 229, 229, 0.7);
  color: #1a237e;
  background-color: white;
}
tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

table tbody tr td {
  background: #fff;
  padding-left: 5px;
  font-size: 16px;
  color: #626262;
  padding: 10px;
}

/* Calendar */
.calendar-main-wrapper {
  padding: 30px;
  margin-top: -80px;
  margin-bottom: 100px;
}

.calendar-main-wrapper .calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calendar-main-wrapper .calendar-header .calendar-icon {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.calendar-main-wrapper .calendar-header .calendar-icon-1 {
  display: flex;
  justify-content: center;
}

.calendar-main-wrapper .calendar-header .calendar-icon-2 {
  margin: 13px 20px;
}

.button-prev,
.button-next {
  cursor: pointer;
  line-height: 40px;
  height: 40px;
  width: 25px;
  text-align: center;
  margin-top: 12px;
}

.button-prev:hover,
.button-next:hover {
  background-color: #1a237e;
  color: #fff;
  border-radius: 3px;
}
.calendar-table {
  border-collapse: collapse;
}

.calendar-table,
.calendar-table th,
.calendar-table td {
  border: 1.3px solid rgba(229, 229, 229, 0.7);
}

.calendar-table th {
  height: 50px;
  text-align: center;
  padding: 0;
}
.calendar-table td {
  width: 100px;
  height: 100px;
}

.calendar-day {
  padding: 10px 8px 5px 8px;
  vertical-align: top;
}
.day-text {
  text-align: right;
}

.booking-text {
  background-color: #a5dff8;
  padding: 4px 4px 4px 8px;
  margin-top: 5px;

  border-radius: 3px;
}
/* #a6e5bd */
.booking-text span {
  font-size: 12px;
}
.booking-time-text {
  display: inline-block;
  width: 60px;
}
.toolTip {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin: 10px 0 0 10px;
  padding: 20px;
  min-height: 180px;

  /* 定位 */
  position: absolute;
  z-index: 1;
}
.toolTip h4 {
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
}
.toolTip div {
  font-size: 15px;
  text-align: left;
  line-height: 28px;
}

/* logo upload*/
.logo-circle {
  height: 86px;
  width: 86px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  margin: 5px 0;
  background-color: #fff;
}

.logo-wrapper p {
  font-size: 12px;
  color: #bcbcbc;
  margin-bottom: 3px;
}

.store-logo {
  margin-left: -3px;
  margin-top: -3px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.banner-wrapper {
  height: 250px;
  width: 100%;
  background-color: #fff;
  margin: 5px 0;
}

.store-banner {
  height: 250px;
  width: 450px;
}

.edit-img {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-left: 10px;
}
.dashboard-msg {
  background-color: #00bfa5;
  z-index: 200;
  position: fixed;
  top: 5%;
  right: 35%;
  width: 300px;
  height: 60px;
  border-radius: 8px;
  color: white;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  font-size: 18px;
}
.booking-delete-btn {
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.booking-delete-btn:hover {
  background-color: #00bfa5;
  color: white;
  border: white;
}
